@import 'vars';
@import 'icons';
@import 'footer';


// Teal Nav
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
    background-color: $header-background;
    color: $font-color-inverse;
    box-shadow: 0 1px 4px 0 $border-color;
    @media (min-width: #{$medium-breakpoint}) {
        justify-content: initial;
    }
    &__desktop {
        display: none;
        svg {
            margin-right: 40px;
        }
        @media (min-width: #{$medium-breakpoint}) {
            display: inline-block;
        }
    }
    &__mobile-nav {
        display: inline-block;
        @media (min-width: #{$medium-breakpoint}) {
            display: none;
        }
    }
}

// Text Highlight
.j-highlight {
    position: relative;
    z-index: 1;
    box-shadow: inset 0 -21px 0 0 $highlight-color, 60px 14px 0px -14px $highlight-color;
}

.j-hero {
    width: 100%;
    border-top: $border-style;
    border-bottom: $border-style;
}
