// Other components

// Teal Nav
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
    background-color: $header-background;
    color: $font-color-inverse;
    box-shadow: 0 1px 4px 0 $border-color;
    &__deco {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 200px;
        color: $highlight-color;
    }
    .swoosh-svg {
        fill: currentColor;
    }
    &__h {
        position: relative;
    }
    &__text {
        position: relative;
        z-index: map-get($zindex, overlay);
    }
    @media (min-width: #{$medium-breakpoint}) {
        justify-content: initial;
    }
    &__desktop {
        display: none;
        svg {
            margin-right: 40px;
        }
        @media (min-width: #{$medium-breakpoint}) {
            display: inline-block;
        }
    }
    &__mobile-nav {
        display: inline-block;
        @media (min-width: #{$medium-breakpoint}) {
            display: none;
        }
    }
}

.mobile-only {
    @media (min-width: #{$medium-breakpoint}) {
        display: none;
    }
}
.desktop-only {
    display: none;
    @media (min-width: #{$medium-breakpoint}) {
        display: inline-block;
    }
}
