@import 'vars';
@import 'mixins';

// Buttons
%j-button--plain {
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 0;
    color: $font-color;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    background: none;
    box-shadow: none;
    outline: none;
    &:focus,
    &:hover,
    &:active {
        background: none;
        box-shadow: none;
        transition: all 0.3s;
    }
    &:hover {
        color: $plain-button-hover;
        .b-svg-path {
            fill: $plain-button-hover;
        }
    }
    &:active {
        color: $plain-button-active;
        .b-svg-path {
            fill: $plain-button-active;
        }
    }
    &[disabled]:disabled {
        color: $plain-button-disabled;
        opacity: 1;
        background: none;
    }
    .b-svg-path {
        fill: $font-color;
        transition: all 0.3s;
    }
}
.j-button--plain {
    @extend %j-button--plain;
}
.j-button--plain-cta {
    @extend %j-button--plain;
    color: $inverse-button-font-color;
    &:hover {
        color: darken( $inverse-button-font-color, 10% );
        .b-svg-path {
            fill: darken( $inverse-button-font-color, 10% );
        }
    }
    &:active {
        color: lighten( $inverse-button-font-color, 10% );
        .b-svg-path {
            fill: lighten( $inverse-button-font-color, 10% );;
        }
    }
    &[disabled]:disabled {
        color: $plain-button-disabled;
    }
    // Nesting required to target appropriate SVG inside button class
    .b-svg-path {
        fill: $inverse-button-font-color;
    }
}
.j-button {
    padding: 9px 18px;
    border: 0;
    border-radius: 2px;
    color: $main-button-font-color;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 500;
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    background-color: $main-button-color;
    box-shadow: 0 1px 3px 0 $main-button-color-border;
    text-align: center;
    transition: all 0.3s;
    outline: none;
    &:hover,
    &:focus {
        background-color: darken( $main-button-color, 10% );
    }
    &:active {
        background-color: lighten( $main-button-color, 10% );
    }
    &[disabled]:disabled {
        padding: 10px 18px;
        box-sizing: border-box;
        color: $main-button-disabled-font;
        font-size: 0.857em;
        font-weight: 400;
        background-color: $main-button-disabled;
        box-shadow: none;
    }
}
.j-button--inverse {
    color: $inverse-button-font-color;
    background-color: $inverse-button-background;
    &:hover,
    &:focus {
        color: $inverse-button-font-color;
        background-color: $inverse-button-background-h;
    }
    &:active {
        color: $inverse-button-font-color;
        background-color: $inverse-button-background-a;
    }
}
// Headings
.b-heading--1 {
    font-size: 3em;
    font-family: $heading-font;
    font-weight: bold;
}
