.j-main-sizing {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
}

.j-body {
    @include font-smoothing;
    background-color: $background-color;
    color: $font-color;
    font-family: $font;
    font-size: $base-font-size;
}

.j-borders {
    border-right: $border-style;
    border-left: $border-style;
}

.j-main {
    display: block;
}

.j-table {
    display: table;
    margin: 0 auto;
}

.j-home {
    @include spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: #{$medium-breakpoint}) {
        flex-wrap: nowrap;
    }
    &__desc {
        flex-grow: 1;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        min-width: 400px;
        margin-bottom: 2em;
        text-align: left;
        background-color: $overlay-background;
        box-shadow: $box-shadow-style;
        @media (min-width: #{$medium-breakpoint}) {
            margin-right: 2em;
            margin-bottom: 0;
        }
    }
    &__pic-container {
        flex-grow: 1;
    }
    &__pic {
        width: 100%;
        box-sizing: border-box;
        border: $border-style;
        border-radius: 10px;
        box-shadow: 0 0 1px 1px $border-color;
    }
}

.j-about {
    @include spacing;
    min-height: 600px; 
}
