// Navigation
.j-nav {
    margin: 0 auto;
    &__link {
        margin: 1em;
        &:last-child {
            margin-right: none;
        }
    }
    &__container {
        display: block;
        @media (min-width: #{$medium-breakpoint}) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__desktop {
        padding: 1em;
    }
}

.j-whatever {
    display: inline-block;
    padding: 20px;
}

