
// Headings

.b-heading {
    font-family: $heading-font;
    font-weight: bold;
    &__highlight {
        color: $highlight-color;
        font-weight: 800;
    }
    &--1 {
        font-size: 4em;
    }
    &--2 {
        font-size: 3em;
    }
    &--3 {
        font-size: 2em;
    }
}
