@import 'mixins';

.j-main-sizing {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
}

body {
    @include font-smoothing;
    background-color: $background-color;

    font-family: $font-sans;
    font-size: $base-font-size;
}

.j-borders {
    border-right: $border-style;
    border-left: $border-style;
}

.j-main {
    display: block;
}

.j-home {
    background-color: $overlay-background;
    color: $font-color;
    font-size: 0.7em;

    @include for-tablet-portrait-up {
        font-size: 0.8em;
    }
    @include for-tablet-landscape-up {
        font-size: 0.9em;
    }
    @include for-desktop-up {
        font-size: 1em;
    }


    &__container {    
        margin: 0 auto;
        padding: 3em 0;
        @include for-phone-only {
            padding: 2em;
        }
        @include for-tablet-landscape-up {

        }
        @include for-desktop-up {
            width: $content-width;
        }
    }

    &__mainbio {
        background-color: $header-background;
        background-size: 64px;
        color: $font-color-inverse;

        &--container {
            display: grid;

            grid-template-columns: [line1] 1fr [line2];
            grid-template-rows: auto;
            column-gap: 20px;
            row-gap: 30px;
            grid-template-areas:
            "greeting"
            "heading"
            "picture"
            "words"
            "contact"
            "social"
            ;
            
            
            @include for-tablet-portrait-up {
                font-size: 0.8em;
                padding: 10px 30px;
                grid-template-columns: [line1] 3fr [line2] 5fr [line3] 40% [line-end];
                grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row-end];
                column-gap: 20px;
                row-gap: 30px;
                grid-template-areas:
                "greeting . picture "
                "heading heading picture "
                "words words picture "
                "contact contact social"
                ;
            }
            @include for-tablet-landscape-up {
                font-size: 0.9em;
                padding: 30px 40px;
                grid-template-columns: [line1] 3fr [line2] 5fr [line3] 40% [line-end];
                grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row-end];
                column-gap: 20px;
                row-gap: 30px;
                grid-template-areas:
                "greeting . picture "
                "heading heading picture "
                "words words picture "
                "contact contact social"
                ;
            }
            @include for-desktop-up {
                font-size: 1em;
                padding: 50px 0;
    
                grid-template-columns: [line1] 3fr [line2] 5fr [line3] 40% [line4] 2em [line-end];
                grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row-end];
                column-gap: 20px;
                row-gap: 30px;
                grid-template-areas:
                "greeting . picture social"
                "heading heading picture social"
                "words words picture social"
                "contact contact picture social"
                ;
            }
        }
    }
    &__title {
        grid-area: greeting;
        font-size: 2em;
    }
    &__heading {
        grid-area: heading;
        text-shadow: 0 -2px $cute-pink;
        font-weight: 200;
        @include for-phone-only {
            text-align: center;
        }
    }
    &__contact {
        grid-area: contact;
        padding: 0.5em 1.5em;
        width: fit-content;
        height: fit-content;
        @include for-phone-only {
            margin: 0 auto;
            width: 100%;
        }
    }
    &__experiences {
        grid-area: words; 
        justify-self: stretch;
        font-size: 2em;
        
    }
    &__experience-item {
        line-height: 1.5;
    }
    &__pic-container {
        grid-area: picture;
        font-size: 2em;
        @include for-phone-only {
            margin: 0 auto;
        }
    }
    &__pic-border {
        padding: 0.5em;
        background-size: cover;
        @include for-phone-only {
            height: 15em;
            width: 15em;
        }
        // @include for-tablet-portrait-up {
        //     height: 20em;
        //     width: 20em;
        // }
    }
    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 50%;
    }
    &__pic-atr {
        position: absolute;
        right: 9px;
        bottom: 0;
        font-size: 0.8em;
    }
    &__social {
        grid-area: social;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        font-size: clamp(0.8em, 3vw, 1.2em);


        .j-button--plain {
            color: inherit;
            &:hover,
            &:focus {
                color: $font-color-inverse; 
            }
            &:active {
                color: $font-color-inverse;
            }
        }
        .svg-inline--fa {
            height: 1.8em;
        }
    }

    &__social-inner {
        display: flex;
        align-items: center;
        color: $heading-font-color-inverse;
        @include for-desktop-up {
            writing-mode: vertical-rl;
            text-orientation: mixed;

            align-items: baseline;
            
        }

    }
    &__social-inner-text {
        padding-right: 1em;
        @include for-desktop-up {
            padding-bottom: 10px;
        }

    }


// ------------------------------------------
//  SKILLS
// ------------------------------------------




// ------------------------------------------
//  SERVICES
// ------------------------------------------
    &__services {
        padding: 30px 0 100px 0;
        background-color: $inverse-background-color;
        color: $font-color-inverse;
    }
}

.j-about {
    min-height: 600px; 
}
