@import 'mixins';

.j-main-sizing {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
}

body {
    @include font-smoothing;
    background-color: $background-color;

    font-family: $font-sans;
    font-size: $base-font-size;
}

.j-borders {
    border-right: $border-style;
    border-left: $border-style;
}

.j-main {
    display: block;
}

.j-table {
    display: table;
    margin: 0 auto;
}

.j-home {
    background-color: $overlay-background;
    color: $font-color;

    &__container {
        
        margin: 0 auto;
        width: $content-width-tablet;
        
        @media (min-width: #{$large-breakpoint}) {
            width: $content-width;
        }

    }

    &__mainbio {
        background-color: $header-background;
        background-size: 64px;

        color: $font-color-inverse;

        &--container {
            display: grid;
            grid-template-columns: [line1] auto [line2] auto [line3] auto [line4] 40px [line5] 40px [line6] auto [line7] 40px [line8];
            grid-template-rows: [row1] 50px [row2] 50px [row3] auto [row4] auto [row5]auto [row6] auto [row7] 50px [row8] 50px [row-end];
            column-gap: 10px;
            row-gap: 20px;
        }
    }
    &__title {
        grid-area: row3 / line1 / row4 / line3;
        font-size: 2em;
    }
    &__heading {
        grid-area: row4 / line1 / row5 / line3;
        padding: 0.1em 0;
        text-shadow: 0 -2px $cute-pink;
        font-weight: 200;
    }
    &__contact {
        grid-area: row6 / line1 / row7 / line2;
    }
    &__experiences {
        grid-area: row5 / line1 / row6 / line5; 
        justify-self: stretch;
        font-size: 2em;
        
    }
    &__experience-item {
        line-height: 1.5;
    }
    &__pic-container {
        grid-area: row2 / line6 / row8 / line7;
        font-size: 2em;
    }
    &__pic-border {
        padding: 0.5em;

        background-size: cover;
    }
    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 50%;
    }
    &__pic-atr {
        position: absolute;
        right: 9px;
        bottom: 0;
        font-size: 0.8em;
    }
    &__social {
        grid-area: row2 / line4 / row3 / line8;
        position: relative;
    }
    &__social-inner {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: $heading-font-color-inverse;

    }
    &__social-icons {
        display: inline-block;
    }

// ------------------------------------------
//  SKILLS
// ------------------------------------------
    &__skills {
        display: grid;
        grid-template-columns: [line1] auto [line2] auto [line3] auto [line4] 40px [line5] 40px [line6] auto [line7] 40px [line8];
        grid-template-rows: [row1] 50px [row2] 50px [row3] auto [row4] auto [row5]auto [row6] auto [row7] 50px [row8] 50px [row-end];
        column-gap: 10px;
        row-gap: 20px;
        



    }
}

.j-about {
    min-height: 600px; 
}
