// Resets
@import 'styles/reset';

// Utilities
@import 'styles/utilities';
@import 'styles/vars';
@import 'styles/icons';

// Element Styles
@import 'styles/elements';

// Components
@import 'styles/components';
@import 'styles/nav';
@import 'styles/list';

// Layout
@import 'styles/layout';
@import 'styles/footer';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

